# variaveis de ambiente para o banco de dados
POSTGRES_USER=example
POSTGRES_PASSWORD=example
POSTGRES_HOST=example
POSTGRES_DB=example
POSTGRES_PORT=example

URL_DATABASE=postgresql+psycopg://POSTGRES_USER:POSTGRES_PASSWORD@POSTGRES_HOST:POSTGRES_PORT/POSTGRES_DB

SECRET_KEY=example